name: Test

on:
  push:
    branches: ['!main']
    tags: ['!v*']
  workflow_call: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the repo
      uses: actions/checkout@v6
    - name: Lint the project
      uses: golangci/golangci-lint-action@v9
